<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468143461986-v79ul4b5r489npiebv12b4nu4d5im2rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468143461986-v79ul4b5r489npiebv12b4nu4d5im2rh</string>
	<key>API_KEY</key>
	<string>AIzaSyCD5wZIJswFSRWk89ZAx0tRFJDSAtptzRY</string>
	<key>GCM_SENDER_ID</key>
	<string>468143461986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Cafe-Perks</string>
	<key>PROJECT_ID</key>
	<string>cafe-perks</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-perks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468143461986:ios:5275566048ebbe76e0633b</string>
</dict>
</plist>